body{
	padding-top: 75px;
	/*font-family: 'Roboto', Arial, sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	/*font-family: 'Oswald', Arial, sans-serif;*/
	font-size:18px;
	color: #4a4a4a;
	/*font-weight: 300;*/
}
a{
	color: #de6a10;
	text-decoration: none;
}
h1, h2, h3, h4, h5{
	/*font-family: 'Oswald', Arial, sans-serif;*/
}
p{
	/*font-size: 18px;*/

}
.container{
	max-width: 1087px;
}
.container-fluid{
	padding-right: 38px;
	padding-left:38px;
}
.mainNav{
	position: fixed;
	width: 100%;
	left:0;
	top: 0;
	border-radius: 0;
	border:0;
	height: 75px;
	background:  #ffffff;
	z-index: 200;
	-webkit-transition: left .5s ease;
		  -moz-transition: left .5s ease;
		  -o-transition: left .5s ease;
		  -ms-transition: left .5s ease;
		  transition: left .5s ease;
}
.fixedNav .mainNav{
	-webkit-box-shadow: 0 1px 2px 0 rgba(00,00,00,0.2);
    box-shadow: 0 1px 2px 0 rgba(00,00,00,0.2);
}
.logo{
	float:left;
	font-size: 28px;
	margin-top: 21px;
	color: #de6a10;
}
.logo:hover,
.logo:focus{
	color: #de6a10;
	text-decoration: none;
}
.resgisterMenu{
		float:right;
		padding-top: 28px;
		margin-bottom: 0;
	}
.resgisterMenu a{
	display: block;
	line-height: 30px;
	padding:0 13px;
	background: #e47f00;
	border-radius: 17px;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	border:1px solid #e47f00;
	text-shadow: 1px 1px 0 #883f07;
	-webkit-transition: all .2s ease;
	  -moz-transition: all .2s ease;
	  -o-transition: all .2s ease;
	  -ms-transition: all .2s ease;
	  transition: all .2s ease;
}
.resgisterMenu a:hover{
	background-color: #ffffff;
	color: #e47f00;
	text-shadow:none;
}
.pageLink{
	margin-bottom: 0;
}
.pageLink li{
	position: relative;
}
.pageLink a{
	display: block;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
}
.pageLink a:hover,
.pageLink a:focus{
	text-decoration: none;
}
#banner{
	overflow: hidden;
	position: relative;
}
#banner h3{
  position: absolute;
  left: -100%;
  bottom: 38%;
  max-width: 610px;
  width: 100%;
  font-size: 50px;
  color: #ffffff;
  padding-left:10px;
  border-left:3px solid #e47f00;
  opacity: 0;
  webkit-transition: all 1s ease-in-out;
  	  -moz-transition: all 1s ease-in-out;
  	  -o-transition: all 1s ease-in-out;
  	  -ms-transition: all 1s ease-in-out;
  	  transition: all 1s ease-in-out;
}
#banner .current h3{
	opacity:1;
	left: 10%;
}
.slides-pagination{
	  position: absolute;
  z-index: 3;
  bottom: 135px;
  text-align: center;
  width: 100%;
}
.slides-pagination a{
	display: inline-block;
	overflow: hidden;
	border-radius: 50%;
	margin:0 5px;
	width: 15px;
	height: 15px;
	text-indent: -111111px;
	background-color: rgba(235,235,235,0.5);
}
.slides-pagination a.current{
	
	background-color: rgba(235,235,235,1);
}
.scrollBotton{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -4px;
	z-index: 100;
}
.scrollBotton a{
	  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%; */
  display: inline-block;
  color: #ffffff;
  opacity: 0.4;
  font-size: 34px;
  position: relative;
  animation: bounce 1s infinite linear;
 -webkit-animation: bounce 1s infinite linear;
 -moz-animation: bounce 1s infinite linear;
 -o-animation: bounce 1s infinite linear;
}
/*bounce animation start*/
@-webkit-keyframes bounce {
    0% ,100%  {top: 0px;}
    25%, 75% {top:-2px;}
    50%  {top:-7px;}
}

/* Standard syntax */
@keyframes bounce {
    0% ,100%  {top: 0px;}
    25%, 75% {top:-2px;}
    50%  {top:-7px;}
}
/*bounce animation end*/
#whywedo{
	background-color: #de6a10;
	padding: 15px 0;
	color: #ffffff;
}
/*#whywedo h3{
	font-size: 33px;
}
#whywedo p{
	font-size: 15px;
}*/
.contentSection{
	padding-top: 15px;
	padding-bottom: 15px;
}
.section-head{
	  margin-top: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  font-weight: 400;
  /*font-size:37px;*/
}
.section-head:after{
	content: "";
	display: inline-block;
	position: absolute;
	bottom: -5px;
	width: 35%;
	height: 2px;
	background-color: #dcdcdc;
	line-height: 0;
	font-size: 0;
	left: 50%;
	transform: translatex(-50%);
}
.iconHolder{
	  display: inline-block;
  width: 138px;
  padding-top: 88px;
  background-position:0 0;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 46px;
}
.icon1{
	background-image:url("../images/icon1.png");
}
.icon2{
	background-image:url("../images/icon2.png");
}
.icon3{
	background-image:url("../images/icon3.png");
}.cbox {
	padding:0;
}
.cbox h4{
	font-size: 25px;
}
.cbox div{
	border-right: 1px solid #dddddd;
	padding-right: 38px;
	padding-left:38px;
	font-size: 18px;
}
.cbox:last-child div{
	border-right:0;
}
.cbox button{
	margin-top: 30px;
	border-radius: 20px;
	color: #b9b8b8;
}
#caseStudy{
	background-color: #4a4a4a;
	color: #ccc8c8;
}
#caseStudy .section-head{
	color: #ffffff;
}#caseStudy button{
	background-color: #4a4a4a;
	border-radius: 20px;
	color: #b9b8b8;
}
#focus{
	overflow: hidden;
}
#focus,
#ourClient{background-color: #f5f5f5;}
.clientList li{
	/*margin:0 5px;*/
}
.clientList img{
	margin:10px 0;
}
#ourClient .container{
	max-width: 1024px;
}

.bx-wrapper .bx-viewport{
	background-color: transparent;
	  -moz-box-shadow:;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}
#testimonials{
	background-color: #de6a10;
	color: #ffffff;
	padding-bottom: 42px;
}
.testList{
	padding:0;
}
.testList li{
	font-size: 18px;
	font-style: italic;
}
.testList li span{
	display:block;
}
.testList li div{
	width:90%;
	margin:0 auto;
	font-style:italic;
}
/*demo form start*/
 .form{ 
    max-width: 100%; 
    min-width: 25%; 
    border-width: 0px; 
    border-color: #CCCCCC; 
    border-radius: 4px; 
    border-style: solid; 
    color: #a6a4a4; 
    font-size: 14px; 
    margin: 0px;  
    padding: 20px; 
} 
.content{ 
    margin: 0px; 
    position: relative;
} 
.content:before{
	content: "";
	display: block;
	height: 40%;
	width: 1px;
	background-color: #a6a4a4;
	position: absolute;
	top: 60%;
	left:-42px;
	transform:translatey(-50%);
}
.form label{ 
    color: #a6a4a4; 
    font-size: 13px; 
    display: block; 
	position: relative;
	bottom: -46px;
	left: 3px;
	opacity: 0;
	webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
} 
.form label.showLab{
	bottom: -4px;
	opacity:0.4;
}
.form input[type=radio], input[type=checkbox]{ 
    margin: 10px; 
    width: 13px; 
} 
.form div{ 
    display: block; 
} 
.form input, .form textarea, .form select{ 
    border-width: 0px; 
    border-style: solid; 
    border-color: #666666; 
    border-radius: 0px; 
    padding: 3px; 
    width: 100%; 
    border-bottom-width: 1px;
    background-color: transparent;
    font-size: 18px;
} 
.form input:focus, .form textarea:focus, .form select:focus{
	outline: none;
}
.form h1{ 
    font-size: 40px; 
    color: #607A75; 
    padding: 0px; 
    margin: 0px; 
    margin-bottom: 10px; 
    border-bottom-style: dotted; 
    border-bottom-color: #CCCCCC; 
    border-bottom-width: 2px; 
    border-radius: 0px; 
    background-color: #FFFFFF; 
} 
.form .btn,
.form1 .btn,
.getInTouch .btn{
	background-color: #de6a10;
	color: #ffffff;
	border-radius: 20px;
	border:0;
	margin:46px 0 0 0;
	padding-left:71px;
	padding-right:71px;
	font-size:17px;
	text-shadow: 1px 1px 0 #883f07;
}
.form .btn:focus,
.form1 .btn:focus,
.getInTouch .btn:focus{
	outline: none;
	box-shadow: none;
}
.getInTouch .getIs{
	margin-top: 15px;
}
.intro{ 
    margin-bottom: 10px; 
} 
.clear{ 
    clear: both; 
} 
.form textarea{ 
    height: 50px; 
    width: 100%; 
} 
.form input[type=submit]{ 
    width: 100%; 
    background-color: #CCCCCC; 
    color: #222222; 
} 
.field{ 
    margin-bottom: 5px; 
} 
#demo{
	background: url(../images/bg1.png) no-repeat 0 0 ;
	background-size: cover;
}
.demoSection{
	color: #ffffff;
	margin-top: 75px;
}
.demoSection img{
	display:block;
	margin:0 auto;
}
.demoSection h3{
	/*font-size: 37px;*/
}
/*demo form start*/
#registrationForm{
	background:url(../images/bg2.png) 0 0 no-repeat;
	background-size: cover;
	padding-bottom: 113px;
	}
.formBody{
	background-color: rgba(255,255,255,0.8);
	border-radius: 15px;
	border:#f3f2f2 1px solid;
	padding:15px 50px 45px;
	max-width: 717px;
	margin: 0 auto;
	text-align: left;
}
.form1 input, .form1 textarea{ 
    border-width: 0px; 
    border-style: solid; 
    border-color: #e8e8e8; 
    border-radius: 0px; 
    padding: 3px; 
    width: 100%; 
    border-bottom-width: 1px;
    background-color: transparent;
    color: #6b6b6b;
	font-size: 18px;
}
.form1 label{

  position: relative;
  bottom: -53px;
  font-size: 12px;
  font-weight: normal;
  margin-left: 4px;
  color: #6b6b6b;
  opacity: 0;
  webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.form1 input:focus, .form1 textarea:focus, .form1 select:focus{
	outline: none;
}
.form1 ::-webkit-input-placeholder {
   color: #6b6b6b;
}

.form1 :-moz-placeholder { /* Firefox 18- */
   color: #6b6b6b;  
}

.form1 ::-moz-placeholder {  /* Firefox 19+ */
   color: #6b6b6b;  
}

.form1 :-ms-input-placeholder {  
   color: #6b6b6b;  
}
.form1 label.showLab{
	bottom: -4px;
	opacity:0.4;
}
.form1 label.inline{
	display:inline-block;
	opacity: 1;
	position: static;
	font-size: 18px;

} 
.courseSelect{
	margin-top:28px;
	margin-bottom:-16px;
}
#selectCourse{
	background: #fafafa;
	border:#e8e8e8 1px solid;
	border-radius:10px;
	padding:3px;
	text-align: center;
}
#selectCourse:focus{
	box-shadow: none;
}
/*registrationForm end*/
/*contuct us front*/
#contactus{
	font-size: 22px;
	background: url("../images/bg3.png") 0 0 no-repeat;
	background-size:cover;
	color: #ffffff;
}
#contactus h3{
	color: #ffffff;
}

/*contuct us end*/
#getintouch h3{
	color: #484a4c;
	font-size: 37px;
}
#getintouch h3 small{
	display:block;
	font-size: 20px;
	color: #484a4c;
}
.mailTo{
	color: #484a4c;
	text-decoration: underline;
	font-size: 18px
}
.getInTouch{
	max-width: 434px;
	margin: 20px auto;
}
.getInTouch input, 
.getInTouch textarea{
	border:#eeeeee 1px solid;
	font-size: 18px;
}.getInTouch input{
	height: 40px;
}.getInTouch textarea{
	resize:none;
}
.getInTouch input:focus, 
.getInTouch textarea:focus{
	 -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #eeeeee;
}
#footer{

	background-color: #353535;
	padding: 45px 20px 25px;
	color: #b9b8b8;
}.copyright{
	font-size: 18px;
}
.copyright a{
	color: #b9b8b8;
}
.socialList {
	font-size: 32px;
}
.socialList a{
	color: #232222;
	webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}
.socialList a:hover{
	color: #e86a0d
}
#mapSection{
	height: 278px;
}
/*getintouch end*/
@media screen and (min-width: 769px){
	
	.pageLink{
		float: right;
		padding-top: 28px;
	}
	.pageLink ul{
		margin-bottom: 0;
	}

	.pageLink li{		
		margin:0 5px;
		
	}
	.pageLink li:after{
		content:"";
		display:block;
		position:absolute;
		bottom:0;
		height: 4px;
		left:50%;
		width: 0;
		-ms-transform: translate(-50%,0); /* IE 9 */
   	-webkit-transform: translate(-50%,0); /* Safari */
    transform: translate(-50%,0);
		-webkit-transition: all .2s ease;
	  -moz-transition: all .2s ease;
	  -o-transition: all .2s ease;
	  -ms-transition: all .2s ease;
	  transition: all .2s ease;
	}
	.pageLink li a{
		display: block;
		color:#4a4a4a;
		padding:1px 13px 16px;
	}
	.pageLink li.active:after,
	.pageLink li:hover:after{
		background-color: #de6a10;
		width: 100%;
	}

}
@media screen and (max-width: 768px){
	.pageLink{
		position: fixed;
  		z-index: 1050;
  		top: 0;
  		bottom: 0;
  		overflow-y: auto;
  		border-radius: 0;
  		width: 250px;

  		right:-250px;
  		background: #333333;
		color: #ffffff;
		-webkit-transition: all .5s ease;
		  -moz-transition: all .5s ease;
		  -o-transition: all .5s ease;
		  -ms-transition: all .5s ease;
		  transition: all .5s ease;
	}
	.openMenu .pageLink{
		right: 0;
		
	}
	.pageLink{
		padding: 25px 15px;
		
	}
	.pageLink ul{
		border-bottom: 1px solid #3C3C3C;
	}
	.pageLink li{
		display: block;
		padding:0;
		-webkit-transform: translate3d(0,100px,0);
        transform: translate3d(0,100px,0);
        -webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
	opacity: 0;
	}
	.pageLink li:nth-child(2) {
	-webkit-transform: translate3d(0,150px,0);
	transform: translate3d(0,150px,0);
}

.pageLink li:nth-child(3) {
	-webkit-transform: translate3d(0,200px,0);
	transform: translate3d(0,200px,0);
}

.pageLink li:nth-child(4) {
	-webkit-transform: translate3d(0,250px,0);
	transform: translate3d(0,250px,0);
}

.pageLink li:nth-child(5) {
	-webkit-transform: translate3d(0,300px,0);
	transform: translate3d(0,300px,0);
}

.pageLink li:nth-child(6) {
	-webkit-transform: translate3d(0,350px,0);
	transform: translate3d(0,350px,0);
}
	.openMenu .pageLink li{
-webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  opacity: 1;
}
	.pageLink a {
		border-bottom: 1px solid #262626;
		border-top: 1px solid #3C3C3C;
		color: rgba(255, 255, 255, 0.7);
		display: block;
		padding: 5px 10px;
		text-shadow: 1px 1px 0 #1F1F1F;
		-webkit-transition: background 300ms ease;
		-moz-transition: background 300ms ease;
		-o-transition: background 300ms ease;
		-ms-transition: background 300ms ease;
		transition: background 300ms ease;

	}
	.pageLink li:first-child a{
		border-top: 0;
	}
	.pageLink a:hover{
		  background: #242424;
	}
	.mainNav{
		height: 90px;
	}
	body{
		padding-top: 90px;
	}
	.mainNav.openMenu{
		  left: -250px;
		  right: auto;
		  width: 100%;
	}

	.collapse.pageLink{
		display:block;
		
	}
	.logo{
		float: none;
		clear: both;
		text-align: center;
		display: block;
		font-size: 22px;
		margin-top:2px;
	}
	.container_body{
		-webkit-transition: all .5s ease;
		  -moz-transition: all .5s ease;
		  -o-transition: all .5s ease;
		  -ms-transition: all .5s ease;
		  transition: all .5s ease;
	}
	.slideMenu .container_body{
		transform:translatex(-250px);
		-webkit-transform: translatex(-250px);
		  -moz-transform: translatex(-250px);
		  -o-transform: translatex(-250px);
		  -ms-transition: translatex(-250px);
	}
	.resgisterMenu{
		padding-top: 10px;
		float: left;
	}
	.resgisterMenu a{
		padding:0 7px;
		font-size: 13px;
	}

	#banner h3{
		font-size: 23px;
		width: 80%;
		bottom:50%;
	}
	.cbox{
		padding-bottom: 27px;
	}
	.owl-pagination{
		display: none;
	}
	.mainNav .container-fluid{
		padding-right: 15px;
		padding-left:15px;
	}
	.mainNav .navbar-toggle{
		margin-right: 0;
	}
	.content:before{
		display: none;
	}
	.wow{
        animation-name: none !important;
        visibility: visible !important;
    }
    .form input, 
    .form textarea, 
    .form select,
    .form1 input, 
    .form1 textarea,
    .form1 label.inline,
    .getInTouch input, 
    .getInTouch textarea{
    	font-size: 17px;
    }
    .cbox div{
    	border:0;
    }
    .formBody{
    	padding-left:23px;
    	padding-right:23px;
    }
    .mailTo{
    	font-size: 19px;
    }
}