<header><div class="navbar-fixed z-depth-4" id="taw-header">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <div class="row">
                <div class="logo-container col s3 m2">
                    <img src="../../assets/images/tawheaderlogo.png" class="responsive-img" title="Tell and watch" alt="Tell and watch">
                </div>
                    <div class="col s7 m9 search-section">
                        <div class="search-top">{{searchData.searchText}}</div>
                        <div class="instruction">Say "Show help" to see instruction</div>
                    </div>
                    <div class="col s2 m1">
                        <span class="mic-icon">
                            <span class="btn btn-floating">
                                <i class="material-icons dp48">mic</i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div></header>
