<div class="row">
    <div class="col s12">
        <div class="giff-img-wrapper">
            <div class="spinner">
                <span _ngcontent-c0="" class="mic-icon" ng-reflect-class-base="mic-icon">
                            <span _ngcontent-c0="" class="" ng-reflect-class-base="btn btn-floating">
                                <i _ngcontent-c0="" class="material-icons dp48" ng-reflect-class-base="material-icons dp48">mic</i>
                            </span>
                </span>
                <div class="double-bounce1">
                </div>
                <div class="double-bounce2">
                </div>
            </div>
        </div>
    </div>
</div>