<!--User-->
    <md-card fxFlex="100">
  <md-card-title>List</md-card-title>
  <md-card-subtitle></md-card-subtitle>
  <md-card-content>
    <ngx-datatable 
      *ngIf="listWithCount" class="material" 
      [rows]="rows" 
      [columnMode]="'force'" 
      [headerHeight]="50" 
      [footerHeight]="50" 
      [rowHeight]="'auto'" 
      [externalPaging]="true" 
      [count]="listWithCount.count" 
      [offset]="paginationData.currentPage - 1"
      [limit]="paginationData.maxSize" 
      (page)='onPageChanged($event)'>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit"><md-icon>edit</md-icon></button>
          <button md-icon-button md-button-sm (click)="delete(row.id)" [attr.aria-label]="delete"><md-icon>delete</md-icon></button>
        </ng-template>
      </ngx-datatable-column>
      
      <!--id-->
      
      <ngx-datatable-column name="id"></ngx-datatable-column>
      
      <!--address-->
      
      <ngx-datatable-column name="address"></ngx-datatable-column>
      
      <!--age-->
      
      <ngx-datatable-column name="age"></ngx-datatable-column>
      
      <!--createdBy-->
      
      <ngx-datatable-column name="createdBy"></ngx-datatable-column>
      
      <!--createdDate-->
      
      <ngx-datatable-column name="createdDate">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value | date:"MM/dd/yyyy" }}      
        </ng-template>
      </ngx-datatable-column>
      
      <!--emailAddress-->
      
      <ngx-datatable-column name="emailAddress"></ngx-datatable-column>
      
      <!--gender-->
      
      <ngx-datatable-column name="gender"></ngx-datatable-column>
      
      <!--isActive-->
      
      <ngx-datatable-column name="isActive"></ngx-datatable-column>
      
      <!--name-->
      
      <ngx-datatable-column name="name"></ngx-datatable-column>
      
      <!--password-->
      
      <ngx-datatable-column name="password"></ngx-datatable-column>
      
      <!--phone-->
      
      <ngx-datatable-column name="phone"></ngx-datatable-column>
      
      <!--reOrderLevel-->
      
      <ngx-datatable-column name="reOrderLevel"></ngx-datatable-column>
      
      <!--tenant-->
      
      <ngx-datatable-column name="tenant"></ngx-datatable-column>
      
      <!--tenantId-->
      
      <ngx-datatable-column name="tenantId"></ngx-datatable-column>
      
      <ngx-datatable-column name="tenantId">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value }}
          <!--{{ value | myDisplayDataTransform:[tenantList,"id","name"] }}--> 
        </ng-template>
      </ngx-datatable-column>
      <!--testString-->
      
      <ngx-datatable-column name="testString"></ngx-datatable-column>
      
      <!--uid-->
      
      <ngx-datatable-column name="uid"></ngx-datatable-column>
      
      <!--updatedBy-->
      
      <ngx-datatable-column name="updatedBy"></ngx-datatable-column>
      
      <!--updatedDate-->
      
      <ngx-datatable-column name="updatedDate">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value | date:"MM/dd/yyyy" }}      
        </ng-template>
      </ngx-datatable-column>
       
    </ngx-datatable>
  </md-card-content>
</md-card>