<!--NcgOther-->
    <md-card fxFlex="100">
  <md-card-title>List</md-card-title>
  <md-card-subtitle></md-card-subtitle>
  <md-card-content>
    <ngx-datatable 
      *ngIf="listWithCount" class="material" 
      [rows]="rows" 
      [columnMode]="'force'" 
      [headerHeight]="50" 
      [footerHeight]="50" 
      [rowHeight]="'auto'" 
      [externalPaging]="true" 
      [count]="listWithCount.count" 
      [offset]="paginationData.currentPage - 1"
      [limit]="paginationData.maxSize" 
      (page)='onPageChanged($event)'>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit"><md-icon>edit</md-icon></button>
          <button md-icon-button md-button-sm (click)="delete(row.id)" [attr.aria-label]="delete"><md-icon>delete</md-icon></button>
        </ng-template>
      </ngx-datatable-column>
      
      <!--id-->
      
      <ngx-datatable-column name="id"></ngx-datatable-column>
      
      <!--itemNotDisplayed-->
      
      <ngx-datatable-column name="itemNotDisplayed"></ngx-datatable-column>
      
      <!--itemNotGenerated-->
      
      <ngx-datatable-column name="itemNotGenerated"></ngx-datatable-column>
      
      <!--listNotDisplayed-->
      
      <ngx-datatable-column name="listNotDisplayed"></ngx-datatable-column>
      
      <!--listNotGenerated-->
      
      <ngx-datatable-column name="listNotGenerated"></ngx-datatable-column>
      
      <!--orderAThird-->
      
      <ngx-datatable-column name="orderAThird"></ngx-datatable-column>
      
      <!--orderBSecond-->
      
      <ngx-datatable-column name="orderBSecond"></ngx-datatable-column>
      
      <!--orderCFirst-->
      
      <ngx-datatable-column name="orderCFirst"></ngx-datatable-column>
      
      <!--withTitleDescDefaultMetaData-->
      
      <ngx-datatable-column name="withTitleDescDefaultMetaData"></ngx-datatable-column>
       
    </ngx-datatable>
  </md-card-content>
</md-card>