<!--Tenant-->
    <md-card fxFlex="100">
  <md-card-title>List</md-card-title>
  <md-card-subtitle></md-card-subtitle>
  <md-card-content>
    <ngx-datatable 
      *ngIf="listWithCount" class="material" 
      [rows]="rows" 
      [columnMode]="'force'" 
      [headerHeight]="50" 
      [footerHeight]="50" 
      [rowHeight]="'auto'" 
      [externalPaging]="true" 
      [count]="listWithCount.count" 
      [offset]="paginationData.currentPage - 1"
      [limit]="paginationData.maxSize" 
      (page)='onPageChanged($event)'>
      <ngx-datatable-column name="Actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <button md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit"><md-icon>edit</md-icon></button>
          <button md-icon-button md-button-sm (click)="delete(row.id)" [attr.aria-label]="delete"><md-icon>delete</md-icon></button>
        </ng-template>
      </ngx-datatable-column>
      
      <!--id-->
      
      <ngx-datatable-column name="id"></ngx-datatable-column>
      
      <!--concurrencyStamp-->
      
      <ngx-datatable-column name="concurrencyStamp"></ngx-datatable-column>
      
      <!--created-->
      
      <ngx-datatable-column name="created">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{ value | date:"MM/dd/yyyy" }}      
        </ng-template>
      </ngx-datatable-column>
      
      <!--issuerValue-->
      
      <ngx-datatable-column name="issuerValue"></ngx-datatable-column>
      
      <!--name-->
      
      <ngx-datatable-column name="name"></ngx-datatable-column>
      
      <!--users-->
      
      <ngx-datatable-column name="users"></ngx-datatable-column>
       
    </ngx-datatable>
  </md-card-content>
</md-card>